<section class="py-10 bg-gray-50">
    <div class="container mx-auto px-4 max-w-7xl">
        <!-- مسار الصفحة -->
        <div class="flex items-center gap-2 mb-6">
            <p class="text-mainColor font-bold text-xl md:text-2xl">Home</p>
            <i class="fa-solid fa-chevron-right text-mainColor text-lg"></i>
            <p class="text-font4nd font-bold text-xl ">Product Details</p>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 bg-white p-6 rounded-lg shadow-lg">
            <div>
                <div class="flex flex-col md:flex-row gap-4">
                    <div class="flex md:flex-col gap-2">
                        @for (item of detailsProduct.images; track $index) {
                        <img [src]="item" [alt]="detailsProduct.title"
                            class="w-16 h-16 border rounded-lg cursor-pointer transition-transform hover:scale-105"
                            (click)="detailsProduct.imageCover = item">
                        }
                    </div>
                    <img [src]="detailsProduct.imageCover" [alt]="detailsProduct.title"
                        class="w-full rounded-lg border-2 border-gray-300 shadow-md h-96 object-contain">
                </div>
            </div>


            <div class="flex flex-col justify-center">
                <h1 class="text-3xl font-bold text-gray-800">{{detailsProduct.title}}</h1>
                <p class="text-gray-600 mt-3 text-lg leading-relaxed">{{detailsProduct.description}}</p>
                <p class="text-red-500 text-2xl font-semibold mt-4">{{(detailsProduct.price) | currency: '$'}}</p>

                <button class="bg-mainColor text-white py-3 px-6 rounded-lg w-full mt-4 
                    hover:bg-opacity-90 transition-transform transform hover:scale-105" (click)="  AddToCart(detailsProduct.id)">
                    Add To Cart
                </button>

                <div class="mt-4 text-gray-700 text-sm">
                    <p>📦 Delivery: <span class="font-medium">3-6 days (within US) / 12-26 days (International)</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>