
nav {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffff;
  z-index: 1000;
  .navLink {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 0;
      height: 2px;
      background-color: #8B5E35;
      transition: width 0.5s ease-in-out;
      -webkit-transition: width 0.5s ease-in-out;
      -moz-transition: width 0.5s ease-in-out;
      -ms-transition: width 0.5s ease-in-out;
      -o-transition: width 0.5s ease-in-out;
    }

    &:hover::after {
      width: 100%;
    }
  }
}