// .navLink{
//     @apply text-pink-500 border-b-2 border-b-pink-400
// }

.navLink{
    position: relative;
    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 0;
        height: 2px;
        background-color: #8B5E35;
        transition: width 0.5s ease-in-out;
        -webkit-transition: width 0.5s ease-in-out;
        -moz-transition: width 0.5s ease-in-out;
        -ms-transition: width 0.5s ease-in-out;
        -o-transition: width 0.5s ease-in-out;
    }
  &:hover::after {
        width: 100%;
      }
}