<footer class="bg-footerbg pt-10">
    <div class="mx-auto w-full max-w-screen-xl px-4 sm:px-6 lg:px-8">
        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
            <div class=" col-span-2 md:col-span-1 lg:col-span-2">
                <h2 class="mb-2 text-3xl font-semibold text-font2nd uppercase">Shoppe</h2>
                <p class="mb-5 text-[#9D9DAA]">Join our newsletter to stay up to date on features and releases.</p>
                <div class="flex flex-col sm:flex-row gap-4 mb-4">
                    <input type="text" class="bg-white rounded-md p-2 flex-grow" placeholder="Enter your email">
                    <button class="bg-secondColor text-white px-4 py-2 rounded-md border-white border-2 font-semibold">Subscribe</button>
                </div>
                <p class="text-font2nd text-sm">By subscribing you agree to with our Privacy Policy and provide consent to receive updates from our company.</p>
            </div>
            <div class="md:ps-28">
                <h2 class="mb-6 text-sm font-semibold text-font2nd uppercase">About Us</h2>
                <ul class="text-font2nd font-medium">
                    <li class="mb-4">
                        <a href="#" class="hover:underline">FAQ</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Contact</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Returns</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Blog</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Shipping</a>
                    </li>
                </ul>
            </div>

            <!-- العمود الثالث -->
            <!-- <div>
                <h2 class="mb-6 text-sm font-semibold text-font2nd uppercase">Customer Support</h2>
                <ul class="text-font2nd font-medium">
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Affiliates</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Apple Pay Payments</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Returns</a>
                    </li>
                </ul>
            </div> -->
            <div>
                <h2 class="mb-6 text-sm font-semibold text-font2nd uppercase">Follow Us</h2>
                <ul class="text-font2nd font-medium">
                    <li class="mb-4">
                        <a href="#" class="hover:underline"><i class="fab fa-facebook-f pe-4"></i>Facebook</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline"><i class="fab fa-instagram pe-4"></i>Instagram</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline"><i class="fab fa-twitter pe-4"></i>Twitter</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline"><i class="fab fa-linkedin pe-4"></i>LinkedIn</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- حقوق النشر -->

    </div>
    <div class="mt-8 px-5 py-6 flex flex-col md:flex-row justify-between items-center border-t border-gray-200">
        <span class="text-sm text-font2nd">&copy; 2023 Flowbite™. All Rights Reserved.</span>
        <div class="flex space-x-5 mt-4 md:mt-0">
            <a href="#" class="text-font2nd hover:underline">Privacy Policy</a>
            <a href="#" class="text-font2nd hover:underline">Terms of Service</a>
            <a href="#" class="text-font2nd hover:underline">Cookies Settings</a>
        </div>
    </div>
</footer>