<section class="py-5">
    <div class="container mx-auto">
        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 px-10 md:px-20">
            @for (brand of brands; track $index) {
            <div class=" flex flex-col items-center shadow-lg rounded-lg border-2 border-gray-100 max-w-72 gap-3">
                <img [src]="brand.image" [alt]="brand.name" class="object-fill ">
                <p class="font-semibold text-font3nd">{{brand.name}}</p>
                <button class="text-mainColor font-bold mb-2" [routerLink]="['/brandDetails',brand._id]">Shop Now</button>
            </div>
            }
        </div>

    </div>
</section>