<section class="py-10 my-5">
    <div class="container mx-auto w-[70%]">
        <div class="bg-white shadow-lg shadow-slate-300 border-gray-100 rounded-md border-2">
            <div class="py-10">
                <h2 class="font-bold text-2xl text-center">Welcom To Reset Password</h2>
                <p class="text-center">Please Enter Your Data TO Reset Password </p>
                <!-- email -->
                @if (Step==1) {
                <form class="text-center md:w-[70%] lg:w-[60%] w-[90%] m-auto py-4" [formGroup]="verfiyEmail"
                    (ngSubmit)="sendEmail()">
                    <div class="relative mb-4">
                        <input type="email" id="Email" class="Inputs w-full " formControlName="email">
                        <label for="Email" class="absolute Labels">Email</label>
                        @if (verfiyEmail.get('email')?.errors && verfiyEmail.get('email')?.touched) {
                        <div class="flex p-3 text-sm text-red-800 rounded-lg  text-start font-semibold" role="alert">
                            <ul class="mt-1.5 list-disc list-inside">
                                @if (verfiyEmail.get('email')?.getError('required')) {
                                <li>Email Is Required </li>
                                }
                                @else if (verfiyEmail.get('email')?.getError('email')) {
                                <li>Please enter a valid email address</li>
                                }

                            </ul>
                        </div>
                        }
                    </div>
                    <button type="submit" class="bg-mainColor px-20 py-3 rounded-full text-white font-bold">Send
                        @if (isLoading) {

                        <span><i class="fas fa-spin fa-spinner"></i></span>
                        }
                    </button>
                </form>
                }
                <!-- code -->
                @if (Step==2) {
                <form class="text-center md:w-[70%] lg:w-[60%] w-[90%] m-auto py-4" [formGroup]="verfiyCode"
                    (ngSubmit)="  sendCode()">
                    <div class="relative mb-4">
                        <input type="text" id="code" class="Inputs w-full " formControlName="resetCode">
                        <label for="code" class="absolute Labels">Code</label>
                        @if (verfiyCode.get('resetCode')?.errors && verfiyCode.get('resetCode')?.touched) {
                        <div class="flex p-3 text-sm text-red-800 rounded-lg  text-start font-semibold" role="alert">
                            <ul class="mt-1.5 list-disc list-inside">
                                @if (verfiyCode.get('resetCode')?.getError('required')) {
                                <li>Code Is Required </li>
                                }
                                @else if (verfiyCode.get('resetCode')?.getError('pattern')) {
                                <li>Please enter a valid Code </li>
                                }

                            </ul>
                        </div>
                        }
                    </div>

                    <button type="submit" class="bg-mainColor px-20 py-3 rounded-full text-white font-bold">Send
                        @if (isLoading) {

                        <span><i class="fas fa-spin fa-spinner"></i></span>
                        }
                    </button>
                </form>
                }
                <!-- new Password -->
                @if (Step==3) {
                <form class="text-center md:w-[70%] lg:w-[60%] w-[90%] m-auto py-4" [formGroup]="resetPassword"
                    (ngSubmit)="  NewPass()">
                    <div class="relative mb-4">
                        <input type="email" id="Email" class="Inputs w-full " formControlName="email">
                        <label for="Email" class="absolute Labels">Email</label>
                        @if (resetPassword.get('email')?.errors && resetPassword.get('email')?.touched) {
                        <div class="flex p-3 text-sm text-red-800 rounded-lg  text-start font-semibold" role="alert">
                            <ul class="mt-1.5 list-disc list-inside">
                                @if (resetPassword.get('email')?.getError('required')) {
                                <li>Email Is Required </li>
                                }
                                @else if (resetPassword.get('email')?.getError('email')) {
                                <li>Please enter a valid email address</li>
                                }

                            </ul>
                        </div>
                        }
                    </div>
                    <div class="relative mb-4">
                        <input type="password" id="newPassword" class="Inputs w-full " formControlName="newPassword">
                        <label for="newPassword" class="absolute Labels">newPassword</label>
                        @if (resetPassword.get('newPassword')?.errors && resetPassword.get('newPassword')?.touched) {
                        <div class="flex p-3 text-sm text-red-800 rounded-lg  text-start font-semibold" role="alert">
                            <ul class="mt-1.5 list-disc list-inside">
                                @if (resetPassword.get('newPassword')?.getError('required')) {
                                <li>newPassword Is Required </li>
                                }
                                @else if (resetPassword.get('newPassword')?.getError('pattern')) {
                                <li>The password must start with a capital letter, be at least 8 characters long, and contain a number.</li>
                                }

                            </ul>
                        </div>
                        }
                    </div>
                    <button type="submit" class="bg-mainColor px-20 py-3 rounded-full text-white font-bold">Send
                        @if (isLoading) {

                        <span><i class="fas fa-spin fa-spinner"></i></span>
                        }
                    </button>
                </form>
                }
            </div>
        </div>
    </div>
</section>